#Config for {{ item.hostname }}

{% for vlan in item.vlans %}
vlan {{ vlan.number }}
 name {{ vlan.name }}
 vn-segment 100100
#
{% endfor %}
{% for vlan in item.vlans %}
{% for downlink in vlan.downlinks %}
interface {{ downlink }}
  switchport trunk allowed vlan add {{ vlan.number }}
#
{% endfor %}
{% endfor %}


interface nve1
  member vni 114103
    ingress-replication protocol bgp



evpn
  vni 999 l2
    rd auto
    route-target import auto
    route-target export auto



